.margin-top-20{
  margin-top:20px
}
.margin-top-30{
  margin-top:30px
}
.margin-top-50{
  margin-top:50px
}
.font-color-grey{
  color:rgb(168,176,179)
}
.font-color-white{
  color:white;
}
.background-color-dodgerblue{
  background-color: dodgerblue
}

.background-color-246{
  background-color: rgb(246,246,246)
}
